/* * {
  padding: 0;
  margin: 0;
} */
.flexcontHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divgreit {
  margin: 15px;
  width: 97%;
  height: auto;
  background-color: rgb(85 85 85 / 5%);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

/* conteinerlogo */
@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.logoimg {
  height: 40px;
  animation: rotateLogo 15s linear infinite;
}

.conteinerlogo {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.conteinerlogotitl {
  color: white;
  font-family: "Montserrat", sans-serif;
  animation: fadeText 4s ease-in-out infinite;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.spanggiftuser {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  animation: fadeText 4s ease-in-out infinite;
  font-size: 15px;
}
/* conteinerlogo */
/* contbakdrtit */
.contbakdrtit {
  width: 97%;
  height: auto;
  background-color: rgba(85, 85, 85, 0.062);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}
.h1greit {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 15px;
  text-align: left;
  padding: 10px;
  letter-spacing: 1px;
}
.span_h1greit {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
/* ___ */
/* ptit */
.contbakdrtitptit {
  margin: 20px;
  width: 97%;
  height: auto;
  background-color: rgb(136 136 136 / 5%);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

.ptit {
  font-weight: 500;
  color: rgb(185, 185, 185);
  font-size: 14px;
  text-align: left;
  padding: 10px;
  letter-spacing: 1px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.6;
}
.ptit p {
  margin-bottom: 10px;
  line-height: 1.6;
}
.slidecontbakdrtitptit {
  width: 90%;
  background-color: rgba(121, 121, 121, 0.164);
  height: 2px;
  margin: 5px 0px;
}
/* contbakdrtit */
.imgmain {
  height: 100px;
}
/* slider */
.slider {
  width: 100%;
  margin: 10px;
  overflow: hidden;
  box-sizing: border-box;
  background: #4e4e4e18;
  backdrop-filter: blur(20px);
  padding: 10px 0;
}

.slide-track {
  display: flex;
  width: calc(150px * 10); /* 10 картинок */
  animation: scroll 20s linear infinite;
}

.slide-track a {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.747);
  display: flex;
  align-items: center;
  font-size: 17px;
  gap: 8px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  justify-content: center;
}

.slide-track img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  opacity: 0.7;
  transition: transform 0.3s ease;
}

.slide-track a:hover img {
  transform: scale(1.05);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* slider */
/* .flexscontthear */
.flexscontthear {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.etxdiv {
  display: flex;
  width: 150px;
  padding: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(58, 58, 58, 0.055);
  border: solid 2px rgba(139, 139, 139, 0.068);
  border-radius: 6px;
  gap: 10px;
  align-items: flex-end;
}
.material-symbols-outlined {
  color: #5bc113;
  font-size: 20px;
}
.podetxdibv {
  display: flex;
  flex-direction: column;
}

.ettit {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 10px;
}
.etptit {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 10px;
}
/* flexscontthear */
/* contbuttit */
.contbuttit {
  margin: 10px 0px;
  width: 95%;
  backdrop-filter: blur(5px);
  background-color: rgba(143, 23, 23, 0);
}
.contbuttit_h1 {
  color: rgb(228, 228, 228);
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
/* .solidpodcontbut {
  width: 80%;
  height: 1px;
  background-color: rgba(240, 248, 255, 0.137);
} */
.solidpodcontbut {
  width: 90%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 0.205),
    rgba(255, 166, 0, 0.205),
    rgba(255, 255, 0, 0.205),
    rgba(21, 187, 21, 0.205),
    rgba(0, 255, 255, 0.205),
    rgba(48, 226, 152, 0.205),
    rgba(238, 130, 238, 0.205)
  );
  background-size: 400% 100%;
  animation: rainbowLoad 5s linear infinite;
  border-radius: 2px;
}

@keyframes rainbowLoad {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* contbuttit */
/* flpodsolcontbut */
.flbutt {
  position: relative;
  overflow: hidden;
  padding: 10px 25px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  backdrop-filter: blur(20px);
  background-color: rgba(112, 112, 112, 0.068);
  border: solid 1px rgba(255, 255, 255, 0.178);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.flbutt:hover {
  background-color: rgba(167, 167, 167, 0.205);
  border: solid 1px rgba(190, 190, 190, 0.726);
  color: white;
}
/* Псевдоэлемент для блеска */
.flbutt::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.11) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: rotate(25deg);
  animation: shine 2.5s infinite;
}

/* Анимация блеска */
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(25deg);
  }
  100% {
    transform: translateX(100%) rotate(25deg);
  }
}

.flpodsolcontbut {
  display: flex;
  padding: 10px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.solidwert {
  width: 1px;
  height: 50px;
  background-color: rgba(240, 248, 255, 0.082);
}
/* flpodsolcontbut */
/* .podtexttextraskaz */
.podtexttextraskaz {
  width: 95%;
  height: auto;
  background-color: rgba(161, 161, 161, 0.021);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  /* border: solid 1px rgba(255, 255, 255, 0.103); */
  margin-bottom: 20px;
}
.podstext {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.nasztex {
  padding: 10px 15px;
}
.ppodtex {
  color: rgb(226, 226, 226);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.podtitlog {
  color: #5bc113;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
/* .podtexttextraskaz */
footer {
  background-color: rgba(161, 161, 161, 0.048);
  backdrop-filter: blur(10px);
  width: 100%;
  height: auto;
  font-family: "Segoe UI", sans-serif;
  color: #eaeaea;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 15px rgba(255, 255, 255, 0.05);
}
/* .bloksfoot */
.bloksfoot {
  padding: 15px;
}
.flexsfo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.lfsot a {
  padding: 10px;
}
.flexsfo a {
  text-decoration: none;
}
.divstex h1 {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.pfotesp {
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(214, 214, 214);
}
.pfotesp a {
  color: #5bc113;
}
