.navflnavigat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.ulflex {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 20px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.295);
  padding: 10px 0;
  height: 40px;
  backdrop-filter: blur(10px);
  z-index: 2;
  align-items: center;
  justify-content: space-evenly;
}
.ulflex li a {
  position: relative;
  color: #bae9c4;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
  transform: scale(1);
  overflow: hidden;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

/* Анимированная полоска сверху */
.ulflex li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 3px;
  width: 100%;
  background-color: #2ad154;
  transition: transform 0.3s ease;
  transform-origin: center;
}

/* При наведении полоска появляется */
.ulflex li a:hover::before,
.ulflex li a:focus::before,
.ulflex li a:active::before {
  transform: translateX(-50%) scaleX(1);
}

/* Hover эффекты */
.ulflex li a:hover {
  transform: scale(1.05);
}

/* Active */
.ulflex li a:active {
  transform: scale(0.96);
  opacity: 0.85;
}
